body{
    background: rebeccapurple;
}

#container{
    background-color: gold;
    width: 80%  ;
    margin: auto;
    text-align: center;
}

#container .the-block{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.the-block{
    font-size: 50px;
    border: 5px solid white;
}

.the-block.one{
    border: 5px solid white !important;
}

.parent{
    width: 200px;
    height: 200px;
    background: yellow;
}

.parent > div{
    width: 100px;
    height: 100px;
    background: salmon;
}
.parent > div > div{
    width: 50px;
    height: 50px;
    background: skyblue;
}

.inline-tag{
    color: white;
    font-size: 70px;
    height: 10px;
    width: 10px;
    padding-top: 100px;
    margin-top: 100px;
    display: inline-block;
}
